{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Message Board{% endblock %}

{% block page_content %}
<div class="page-header">
<!--     {% if name %}
        <h3>{{ name }}</h3>
    {% endif %}
    {% if message %} 
      <p>test</p> 
    {% endif %} -->
<!--     {% for i in L %}
      <h1>{{ i }}</h1>
    {% endfor %} -->

<!--     {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %} -->
    {% for i in array %}
      <h3> {{i.username}} </h3>
      <p>  {{i.message}} </p>
    {% endfor %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
